<h3>View Stock Details</h3>
<div>
    <div>
        <label>
            <b>ID: </b>
            {{this.stock.id}}
        </label>
    </div>
    <div>
        <label>
            <b>Store ID: </b>
            {{this.stock.storeId}}
        </label>
    </div>
    <div>
        <label>
            <b>Product ID: </b>
            {{this.stock.productId}}
        </label>
    </div>
    <div>
        <label>
            <b>Quantity: </b>
            {{this.stock.quantity}}
        </label>
    </div>
</div>