<h3>View User Details</h3>
<div>
    <div>
        <label for="">
            <b>ID: </b>
            {{this.user.id}}
        </label>
    </div>
    <div>
        <label for="">
            <b>username: </b>
            {{this.user.username}}
        </label>
    </div>
    <div>
        <label for="">
            <b>password: </b>
            {{this.user.password}}
        </label>
    </div>
    <div>
        <label for="">
            <b>email: </b>
            {{this.user.email}}
        </label>
    </div>
    <div>
        <label for="">
            <b>status: </b>
            {{this.user.status}}
        </label>
    </div>
    <div>
        <label for="">
            <b>createdAt: </b>
            {{this.user.createdAt}}
        </label>
    </div>
    <div>
        <label for="">
            <b>updatedAt: </b>
            {{this.user.updatedAt}}
        </label>
    </div>
    <div>
        <label for="">
            <b>lastLogin: </b>
            {{this.user.lastLogin}}
        </label>
    </div>
</div>