<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/users">List Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/products">List Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/stores">List Stores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/stocks">List Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/transactions">List Transactions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-user">Create User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-product">Create Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-store">Create Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-stock">Create Stock</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>