<div class="col-md offset-md-3">
    <h3>Create Stock</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="storeId">Store ID</label>
            <input type="number" class="form-control" id="storeId" name="storeId" [(ngModel)]="stock.storeId" required>
        </div>
        <div class="form-group">
            <label for="productId">Product ID</label>
            <input type="number" class="form-control" id="productId" name="productId" [(ngModel)]="stock.productId"
                required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="stock.quantity"
                required>
        </div>
        <button type="submit" class="btn btn-success">Create Stock</button>
    </form>
</div>